*{
    box-sizing: border-box;
    display: block;
}
body{
    background-color: lavender;
}
.conteiner{
    width: 1200px;
    margin: 0 auto;
}
#header{
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: lightblue;
    min-height: 50px;
}
.middle{
    display: flex;
}
#left_col{
    margin-top: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    min-height: 400px;
    background-color: lightblue;
}
#content{
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    width: 895px;
    min-height: 500px;
    background-color: lightblue;
}
.form_login{
    display: flex;
    flex-direction: column;
}
.form_login input{
    margin-top: 3px;
    border-radius: 5px;
    border: none;
    height: 25px;
    cursor: pointer;
}
#buttom{
    cursor: pointer;
    margin-top: 8px;
    height: 25px;
    border-radius: 5px;
    border: none;
}
#popur{
    display: none;
    width: 550px;
    height: 530px;
    background-color: rgb(53, 52, 52);
    position: absolute;
    z-index: 999;
    top: 45%;
    left: 45%;
    margin-left: -250px;
    margin-top: -250px;
    border-radius: 5px;
    padding: 10px;
    color: white;
}
.hover{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.7);
    top: 0px;
    left: 0px;
    z-index: 998;
    color: white;
}
.popur_top{
    display: flex;
    justify-content: space-between;
}
.popur_top a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.reg_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reg_form input {
    height: 30px;
    border: none;
    border-radius: 5px;
}


#news{
    min-height: 50px;
    width: 800px;
    background-color: silver;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 5px;

}
#right_col{
    min-height: 50px;
    width: 395px;
    background-color: silver;
    margin-top: 5px;
    border-radius: 5px;
}